<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Aplicación</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>

    <!-- cabecera de la pagina-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Aplicación</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cosas">Cosas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cosas/nueva">Nueva cosa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tipos">ABM: Tipos de cosa</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- contenido -->
    <div class="container">
        {{{body}}}
    </div>

</body>

</html>