<!-- titulo -->
<div class="row">
    <div class="col">
        <h1>Cosas</h1>
    </div>
</div>

<!-- lista -->
<div class="row">
    <div class="col">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">nombre</th>
                    <th scope="col">tipo</th>
                    <th scope="col">aciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each cosas}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{nombre}}</td>
                    <td>{{tipo}}</td>
                    <td>
                        <a class="btn btn-sm btn-info" href="/cosas/editar/{{id}}">editar</a>
                        <a class="btn btn-sm btn-danger" href="/cosas/eliminar/{{id}}">eliminar</a>
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>

    </div>
</div>