<!-- titulo -->
<div class="row">
    <div class="col">
        <h1>Nueva cosa</h1>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <form action="/cosas" method="POST">

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre">
            </div>

            <div class="form-group">
                <label for="idTipoCosa">Tipo</label>
                <select class="form-control" name="idTipoCosa">
                    {{#each tipos}}
                    <option value="{{id}}">{{nombre}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Registrar cosa" class="btn btn-primary">
            </div>

        </form>
    </div>
</div>